// Шаблоны, миксины, переменные
$default-val: 15px;
$small-pd: 5px;
$big-pd: 50px;
$gap-default-val: 10px;

$primary-color: chocolate;
$darker-primary-color: darken($primary-color, 20%);
$lighter-primary-color: lighten($primary-color, 20%);
$contrast-primary-color: adjust-hue($primary-color, 50deg);

$secondary-color: chartreuse;

@mixin flexbox($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin media-query($breakpoint) {
    @media screen and (min-width: $breakpoint) {
        @content;
    }
}
// 

@font-face {
    font-family: 'main';
    src: url(../fonts/RobotoMono-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%; 
    height: 100%;
}
body{
    width: 100%; 
    height: 100%;
    font-family: 'main';
    background-color: mintcream;
    #root{
        width: 100%; 
        height: 100%;
        display: grid;
        font-family: main;
        grid-template-rows: 100px 1fr 100px;
        grid-template-columns: 1fr;
        gap:$default-val;
        header, footer{
            background-color: $secondary-color;
            @include flexbox();
        }
        header{
            border-radius: 0 0 $default-val $default-val;
        }
        footer{
            border-radius: $default-val $default-val 0 0;
        }
        main{
            width: 100%; 
            height: 100%;
            background-color: $primary-color;
            border-radius: $default-val;
            @include flexbox(column, space-between, center);
            padding: $big-pd;
            gap: $gap-default-val;
            .finder{
                width: inherit;
                @include flexbox(column, start, center);
                gap: $gap-default-val;
                .search-bar{
                    width: inherit;
                    @include flexbox(row, center, center);
                    input{
                        border-width: 2px 0 2px 2px;
                        border-color: $darker-primary-color;
                        border-style: solid;
                        width: 30%;
                        height: 40px;
                        border-radius: $default-val 0 0 $default-val;
                        @media screen and (max-width: 767px) {
                            width: 50%;

                        }
                        @media screen and (max-width: 520px) {
                            width: 80%;

                        }
                    }
                    input:focus{
                        outline: none;
                    }
                    button{
                        border-width: 2px 2px 2px 0;
                        border-color: $darker-primary-color;
                        border-style: solid;
                        position: relative;
                        background-color: $darker-primary-color;
                        color: mintcream;
                        width: 40px;
                        height: 40px;
                        cursor: pointer;
                        transition: .5s;
                        border-radius: 0 $default-val $default-val 0;
                    }
                    button:hover{
                        background-color: $lighter-primary-color;
                        color: black;

                    }
                    @media (hover: none) and (pointer: coarse) {
                        button:hover {
                            background-color: $darker-primary-color;
                            color: mintcream;
                        }
                    }
                    button::before{
                        content: '\2192'; 
                        position: absolute;
                        transform: translateY(-50%);
                        top: 45%;
                        right: 25%;
                        font-size: 18px;
                    }
                    input, button{
                        padding: $small-pd;
                    }
                }
                .info{
                    position: relative;
                    width: inherit;
                    display: grid;
                    grid-template-columns: repeat(4, 20%);
                    grid-template-rows: 1fr;
                    justify-content: center;
                    padding: $default-val;
                    @media screen and (max-width: 1023px) {
                        grid-template-columns: repeat(2, 45%);
                        grid-template-rows: repeat(2, 1fr);
                    }
                    .info-loader-block{
                        top: 0;
                        left: 0;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background-color: chocolate;
                        border-radius: $default-val;
                        border: 2px solid $darker-primary-color;
                        @include flexbox(row, center, center);
                        display: none;
                        .loader {
                            border: 5px solid $darker-primary-color;
                            border-top: 5px solid $lighter-primary-color;
                            border-radius: 50%;
                            width: 25px;
                            height: 25px;
                            animation: spin 1s linear infinite;
                            display: block;
                        }
                        @keyframes spin {
                            0% { transform: rotate(0deg); }
                            100% { transform: rotate(360deg); }
                        }
                    }
                    .active-loader{
                        display: flex;
                    }
                    .info-block{
                        padding: $default-val;
                        @include flexbox(column, unset, center);
                        gap: $gap-default-val;
                        .subtitle{
                            font-weight: bold;
                            font-size: 24px;
                            color: $darker-primary-color;
                            @media screen and (max-width: 767px) {
                                font-size: 20px;
                            }
                            @media screen and (max-width: 520px) {
                                font-size: 12px;
                            }
                        }
                        .title{
                            font-weight: bolder;
                            font-size: 16px;
                            color: mintcream;
                            text-align: center;
                            @media screen and (max-width: 767px) {
                                font-size: 12px;
                            }
                            @media screen and (max-width: 520px) {
                                font-size: 8px;
                            }
                        }
                    }
                    .sepr{
                        height: 100%;
                        width: 2px;
                        background-color: $darker-primary-color;
                    }
                }
            }
            #map{
                width: inherit;
                height: 100%;
                min-height: 300px;
                border-radius: $default-val;
            }
        }
    }
    .error-box{
        position: fixed;
        bottom: 10px;
        right: -10px;
    
        padding: 15px;
        border-radius: 10px;
        background-color: black;
        color: red;
    
        display: flex;
        gap: 10px;
    
        visibility: hidden;
        opacity: 0;
        transition: .5s;
    
        cursor: pointer;
    }
    .show {
        right: 10px;
        visibility: visible;
        opacity: 1;
        transition: .5s;
    }
}
